* {
  padding: 0px;
  margin: 0px;
}

#process_table {
  width: 100%;
}

table {
  padding: 10px;
}

table tr th {
  text-align: left;
}

table tr th .align_right div {
  text-align: right;
}

table tr th .align_right p {
  color: red;
}