* {
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    cursor: default;
    font-size: 0.95rem;
    border: none;
    outline: none;
    color: #222222;
}

table {
    overflow: scroll;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    border-collapse: collapse;
}

hr#seperator_file_tabs {
    border: 1px solid #f2f2f2;
    box-shadow: 0px -1px 0px #fbfbfb;
}

hr#seperator_tabs_content {
    border: 1px solid #e8e8e8;
}

table#global_menu td {
    margin: 0px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    cursor: pointer;
}

table#global_menu td:hover {
    background: green;
}

table#global_menu tr {
    height: 16px;
}

table#tabs td {
    margin: 0px;
    border: none;
    padding-top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 4px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #e8e8e8;
}

table#tabs {
    margin-top: 4px;
}

table#tabs tr {
    height: 20px;
}

table#tabs td:hover {
    background: red;
}

table#process_table {
    margin-top: 14px;
}

table#process_table th {
    position: relative;
    border-bottom: 2px solid #bfbfbf;
    font-weight: normal;
    color: #4f6570;
    font-size: 0.85rem;
}

table#process_table th div {
    color: black;
}

table#process_table th:not(.seperator_v) {
    padding: 7px;
}

table#process_table th.seperator_v {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #bfbfbf);
    background-image: -moz-linear-gradient(transparent, #bfbfbf);
    background-image: -o-linear-gradient(transparent, #bfbfbf);
    background-image: linear-gradient(transparent, #bfbfbf);
    width: 0.5px;
}

table#process_table {
    width: 100%;
}

table#process_table th, #process_table th .align_right {
    vertical-align: bottom;
    position: relative; /* necessary so we can insert the up / down sorting arrows */
}

table#process_table *:hover {
    cursor: pointer;
}

table#process_table th:hover {
    background: #f2f9ff; /* 50% lightened color from #e5f3ff */
}

table#process_table .seperator_v.movable:hover {
    cursor: col-resize;
}

table#process_table th, table#process_table td {
    text-align: left;
}

table#process_table th.align_right *, table#process_table td.align_right {
    text-align: right;
}

table#process_table th.align_right div {
    font-size: 1.2rem;
    font-weight: normal;
}

table#process_table th.align_right p {
    font-size: 0.85rem;
    font-weight: normal;
}

table#process_table td:not(.seperator_v) {
    padding: 7px;
    text-overflow: ellipsis;
}

table#process_table td.app_name {
    padding-left: 20px;
}

.width_fixed_100 {
    width: 50px;
}

/* bottom area */
div#bottom_area {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: white;
}

div#fewer_details {
    border-top: 1px solid #a7a7a7;
}

div#fewer_details button {
    color: #7a7a7a;
    background: white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #7a7a7a;
    line-height: 0px;
    display: inline-block;
    cursor: pointer;
}

div#fewer_details p {
    color: #222222;
}

/* end task button, greyed out */
div#end_task button {
    color: #8a91a6;
    background: #cccccc;
    padding: 3.5px 20px;
    border: 1px solid #c8c8c8;
    font-size: 0.85rem;
}

.selected_column_blue {
    background: #e5f3ff;
}

.selected_process_grey {
    background: #d9d9d9;
}

.very_dark_yellow {
    background: #ffc63d;
    box-shadow: -0.5px 0px 0px #ffc63d;
}

.dark_yellow {
    background: #ffe487;
    box-shadow: -0.5px 0px 0px #ffe487;
}

.middle_yellow {
    background: #f9eca8;
    box-shadow: -0.5px 0px 0px #f9eca8;
}

.light_yellow {
    background: #fff4c4;
    box-shadow: -0.5px 0px 0px #fff4c4;
}

td.seperator_v.cpu, td.seperator_v.disk, td.seperator_v.ram, td.seperator_v.network {
    background: rgba(0, 0, 0, 0.3);
    width: 0.5px;
}