<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        {{styles}}
    </head>
    <body>

      <table id="global_menu">
        <tr>
          <td id="global_menu_file">File</td>
          <td id="global_menu_options">Options</td>
          <td id="global_menu_view">View</td>
        </tr>  
      </table>

      <hr id="seperator_file_tabs" />

      <table id="tabs">
        <tr>
          <td id="tabs_processes">Processes</td>
          <td id="tabs_performance">Performance</td>
          <td id="tabs_app_history">App History</td>
          <td id="tabs_startup">Start-up</td>
          <td id="tabs_users">Users</td>
          <td id="tabs_details">Details</td>
          <td id="tabs_services">Services</td>
        </tr>  
      </table>

      <hr id="seperator_tabs_content" />

      <table id="process_table">
        <tr>
          <th><p>Name</p></th>
          <th class="seperator_v movable"></th>
          <th><p>Type</p></th>
          <th class="seperator_v movable"></th>
          <th><p>Process name</p></th>
          <th class="seperator_v movable"></th>
          <th><p>Command line</p></th> 
          <th class="seperator_v movable"></th>
          <th class="align_right width_fixed_100 selected_column_blue">
            <div>27%</div>
            <p>CPU</p>
          </th>
          <th class="seperator_v"></th>
          <th class="align_right width_fixed_100">
            <div>27%</div>
            <p>Memory</p>
          </th>
          <th class="seperator_v"></th>
          <th class="align_right width_fixed_100">
            <div>2%</div>
            <p>Disk</p>
          </th>
          <th class="seperator_v"></th>
          <th class="align_right width_fixed_100">
            <div>0%</div>
            <p>Network</p>
          </th>
        </tr>
        <tr>
          <td class="app_name">Microsoft Edge</td>
          <td class="seperator_v movable"></td>
          <td>Background process</td>
          <td class="seperator_v movable"></td>
          <td>MicrosoftEdgeCp.exe</td>
          <td class="seperator_v movable"></td>
          <td>C://Edge.exe</td>
          <td class="seperator_v cpu"></td>
          <td class="align_right width_fixed_100 very_dark_yellow cpu">9.3%</td>
          <td class="seperator_v ram"></td>
          <td class="align_right width_fixed_100 dark_yellow ram">316.9 MB</td>
          <td class="seperator_v disk"></td>
          <td class="align_right width_fixed_100 middle_yellow disk">0 MB/s</td>
          <td class="seperator_v network"></td>
          <td class="align_right width_fixed_100 light_yellow network">0 Mbps</td>
        </tr>
      </table>

      <div id="bottom_area">
        <div id="fewer_details">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="6" width="11" version="1.1" viewBox="0 0 2.9104166 1.5875">
             <g transform="translate(0 -295.41)">
              <path stroke-linejoin="round" d="m0.40244 296.82 1.1186-1.1976 0.98704 1.1951" stroke="#7a7a7a" stroke-linecap="round" stroke-width=".38983" fill="none"/>
             </g>
            </svg>
          </button>
          <p>Fewer details</p>
        </div>
        <div id="end_task">
          <button>End task</button>
        </div>
      </div>
      {{scripts}}

    </body>
</html>